<div>
    <h2>
        I have created my first custom component
    </h2>
    <h3>
        this highlighted area is second component
    </h3>
</div>

<h2>
    The Car Details are following:
    <br> Car Number : {{ carNumber}}
    <br> Car Model : {{ carModel}}
    <br> Car Price : {{ carPrice}}
    <br> New Car Price : {{getCarPrice()}}
</h2>

<div>
    <button class="btn btn-primary" (click)="onCreateCar()">  Create Car </button>
    <p>{{carCreation}}</p>

    <div>
        <input type="text" class="form-control" (input)="onEnterCar($event)">
        <p>{{CarName}}</p>

    </div>
    <div>
        <h2>
            I uploaded this file on git hub
        </h2>
    </div>
</div>