.header {
    text-align: center;
    background-color: rgb(89, 60, 214);
    color: white;
    padding: 1rem;
}

.header h1 {
    color: white;
}

.paragraph {
    text-align: center;
    padding-top: 1rem;
}

.row {
    margin-top: 4rem;
}

.col2 {
    background: rgb(143, 136, 212);
    padding: 3.9rem;
    color: yellow;
}

h1 {
    text-align: center;
    color: red;
    margin-top: rem;
}

.footer {
    margin-top: 3rem;
}